* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Segoe UI', Arial, sans-serif;		// Segoe UI font is available only on Windows Operating Systems
	line-height: 1.6em;
	color: #666;
	background: url('../img/simple_dashed.png');
}

a {
	color: #333;
	text-decoration: none;
}

#container {
	width: 960px;
	margin: auto;
	background: #fff;
}

#container header {
	padding: 30px 20px;
	background: #184384;
	color: #fff;
}

#container header h1 {
	margin-bottom: 5px;
}

#container header h1 span {
    background: #d2030a;
    padding: 0 10px 5px;
    border-radius: 15px;
}

#container section {
	padding: 30px 20px 20px;
}

#container section #search-form {
	display: block;
	margin-bottom: 15px;
}

#container section #search-form .fieldcontainer {
	display: block;
	position: relative;
	width: 90%;
	margin: 0 auto;
}

#container section #search-form .fieldcontainer .search-field {
	box-sizing: border-box;
	display: block;
	width: 45%;
	padding: 12px 10px;
	background: #fff;
	color: #666;
	border: 1px solid #c8c8c8;
	font-size: 1.4em;
}

#container section #search-form .fieldcontainer #search-btn {
	position: absolute;
	right: 364px;
    top: 0;
	height: 51px;
	width: 90px;
	border: 0;
	cursor: pointer;
	zoom: 1;
	background: #0364f7 url('../img/magnifier.png')no-repeat center center;
}

#container section #search-form .fieldcontainer #search-btn:hover {
	filter: opacity(90%);
	opacity: 0.9;
}

#container section #search-form #results li {
	padding: 10px 0;
	border-bottom: 1px dotted #ccc;
	list-style: none;
	overflow: auto;
}


#container section #search-form #results li .list-left {
	float: left;
	width: 20%;
}


#container section #search-form #results li .list-left img {
	width: 100%;
	padding: 3px;
	border: 1px solid #ccc;
}

#container section #search-form #results li .list-right {
	float: right;
	width: 78%;
}

#container section #search-form #results li .list-right .cTitle {
	color: #0364f7;
}

#container footer {
	background: #00255d;
	text-align: center;
	font-size: 14px;
	padding: 10px 0;
	color: #ddd;
}

.clearfix {
	clear: both;		// This is used to clear both css float property.
}

